/env/

/base_files
/converted_files

.idea
__pycache__
__pycache__/
**/__pycache__
*.py[cod]
/static/
/media/
.DS_Store
/venv/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

celeryd.pid
celerybeat-schedule
celerybeat.pid
